/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/26/2014, 03:25:25 PM
    Author     : Arturo
*/

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.container {
    clear: both;
    width: 90%;
    min-width: 1024px;
    margin: 0 auto;
}

.basics {
    margin: 1%;
    width: 45%;
    float: left;
}

.flights {
    margin: 1%;
    width: 45%;
    float: left;
}

.volunteers {
    margin: 1%;
    width: 100%;
    clear: both;
}

.required{
    width: 100%;
}

.cs-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: black;
    border: none;
    margin: 0.26em;
    float: left;
    font-size: 16px;
    min-height: 30px;
    transition: width 0.6s;
    width: 15%;
}

.selecting{
    display: block;
    -webkit-appearance: normal;
    -moz-appearance: normal;
    appearance: normal;
    width: 50%;
}


.cs-select option:checked{
    color: #206f9f;
}

/******************************************************************************
-------------------------------Main Brigade Form--------------------------------
*******************************************************************************/
.basics div{
    clear: both;
    margin: 0.5em;
    min-height: 30px;
}

.basics .title{
    padding: 0.13em;
    margin: 0.26em;
    min-height: 30px;
    float: left;
    font-size: 18px;
    font-weight: 600;
    width: 7em;
}

.basics .content{
    padding: 0.13em;
    margin: 0.26em;
    min-height: 30px;
    float: left;
    width: 20%;
    color: black;
    font-size: 16px;
}

.hidden{
    display: none;
}

.update-field {
    float: right;
    font-size: 20px;
    font-weight: 500;
    color: #164d6e;
    min-height: 30px;
}

.update-field:hover{
    color: #99ccea;
}


.icon-update:before{
    content: "\21BB";
}
/******************************************************************************
-------------------------------Main Brigade Form--------------------------------
*******************************************************************************/