/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/26/2014, 03:25:25 PM
    Author     : Arturo
*/

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.container {
    clear: both;
    width: 90%;
    min-width: 1024px;
    margin: 0 auto;
}

.basics {
    margin: 1%;
    width: 45%;
    float: left;
}

.flights {
    margin: 1%;
    width: 45%;
    float: left;
}

.volunteers {
    margin: 1%;
    width: 100%;
    clear: both;
}

.required{
    width: 100%;
}

.cs-select {
    color: black;
    border: none;
    margin: 0.25em;
    float: left;
    font-size: 16px;
    min-height: 30px;
    width: 15%;
    transition: width 2s;
}

.cs-select:active{
    width: 75%;    
}

.cs-select option:checked{
    color: #206f9f;
}

/******************************************************************************
-------------------------------Main Brigade Form--------------------------------
*******************************************************************************/
.basics div{
    clear: both;
    margin: 0.5em;
}

.basics .title{
    margin: 0.25em;
    float: left;
    font-size: 18px;
    font-weight: 600;
    width: 20%;
}

.basics .content{
    margin: 0.25em;
    float: left;
    width: 60%;
    color: black;
    font-size: 16px;
}

.hidden{
    display: none;
}

/******************************************************************************
-------------------------------Main Brigade Form--------------------------------
*******************************************************************************/