/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/11/2014, 06:00:02 PM
    Author     : Arturo
*/
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.container {
    clear: both;
    width: 90%;
    min-width: 1024px;
    border: 1px solid;
    margin: 0 auto;
}

.container a{
    color: #7a7a7a;
    cursor: pointer;
    text-decoration: none;
}

.container a:hover{
    color: #206f9f;
}

.fichaSection {
    float: left;
    width: 22%;
    margin: 1%;
}

.fichaGenerals span{
    display: block;
    width: 100%;
    font-size: 100%;
}

.ficha-tittle{
    font-size: 200%;
}

.ficha-program{
    font-style: oblique;
    font-weight: 100;
}

.ficha-places {
    font-size: 125%;
    font-weight: 600; 
}
/******************************************************************************/
.cs-select {
    color: #7a7a7a;
    width: 100%;
    border: none;
    height: 4%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 500;
    font-size: 125%;
    min-height: 30px;
}

.cs-select option:checked{
    color: #206f9f;
}

/******************************************************************************/

/******************************************************************************/

/******************************************************************************/
.fichaVolunteers{
    width: 100%;
}

.volunteers {
    border: 1px solid;
    }

.volunteers table{
    float: left;
}

.volunteers table td{
    padding: 1em;
}