
#wrapper {
  margin-right: 200px;
}
#content {
  float: left;
  width: 100%;
  background-color: #ffffff;
}
#menu {
  float: right;
  width: 200px;
  margin-right: -200px;
  background-color: #ffffff;
}
#cleared {
  clear: both;
}
.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  background: #3498DB;
  font-family: Georgia;
  color: #ffffff;
  font-size: 14px;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  padding: 7px 15px 8px 15px;
  text-decoration: none;
  transition: 0.25s;
  width: 200px;
}
.btn:hover {
  background-color: #2980B9;
  
}
.vista{
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    height: 50px;
}
td{
    padding: 5px;
    border: 1px solid grey;
    text-align: center;
    vertical-align: center;
}




