@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/iconmoon/icomoon.eot');
	src:url('../../fonts/iconmoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/iconmoon/icomoon.woff') format('woff'),
		url('../../fonts/iconmoon/icomoon.ttf') format('truetype'),
		url('../../fonts/iconmoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "programs";
  src:url("../../fonts/programs/untitled-font-3.eot");
  src:url("../../fonts/programs/untitled-font-3.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/programs/untitled-font-3.woff") format("woff"),
    url("../../fonts/programs/untitled-font-3.ttf") format("truetype"),
    url("../../fonts/programs/untitled-font-3.svg#untitled-font-3") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* General grid styles */
.cbp-ig-grid {
	list-style: none;
	padding: 0 0 50px 0;
	margin: 0;
}

/* Clear floats */
.cbp-ig-grid:before, 
.cbp-ig-grid:after { 
	content: " "; 
	display: table; 
}

.cbp-ig-grid:after { 
	clear: both; 
}

/* grid item */
.quantity3 li {
	width: 33%;
	float: left;
	height: 200px;
	text-align: center;
	border-top: 1px solid #ddd;
}

.quantity5 li {
	width: 20%;
	float: left;
	height: 200px;
	text-align: center;
	border-top: 1px solid #ddd;
}

/* we are using a combination of borders and box shadows to control the grid lines */
/*for 4 multiple elements*/
.quantity5 li:nth-child(-n+5){
	border-top: none;
}

.quantity5 li:nth-child(5n-1),
.quantity5 li:nth-child(5n-2),
.quantity5 li:nth-child(5n-3),
.quantity5 li:nth-child(5n-4){
	box-shadow: 1px 0 0 #ddd;
}
/*para elementos de multiplo de 3*/
.quantity3 li:nth-child(-n+3){
	border-top: none;
}

.quantity3 li:nth-child(3n-1),
.quantity3 li:nth-child(3n-2) {
	box-shadow: 1px 0 0 #ddd;
}

.quantity3 li:last-child {
    box-shadow:none;
}

/* anchor style */
.cbp-ig-grid li > a {
	display: block;
	height: 100%;
	color: #47a3da;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
}

/* the icon with pseudo class for icon font */
.cbp-ig-icon {
	padding: 30px 0 0 0;
	display: block;
	-webkit-transition: -webkit-transform 0.2s;
	transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	font-size: 3.25em;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-programs-"], [class*=" icon-programs-"] {
	font-family: 'programs';
	font-size: 3.25em;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-programs-business:before {
  content: "\e000";
}
.icon-programs-enviromental:before {
  content: "\e001";
}
.icon-programs-human-rights:before {
  content: "\e002";
}
.icon-programs-medical:before {
  content: "\e003";
}
.icon-programs-microfinance:before {
  content: "\e004";
}
.icon-programs-public-health:before {
  content: "\e005";
}
.icon-programs-professional:before {
  content: "\e006";
}

.icon-file:before {
	content: "\e600";
}
.icon-calendar:before {
	content: "\e601";
}
.icon-cog:before {
	content: "\e602";
}
.icon-stats:before {
	content: "\e603";
}
.icon-signup:before {
	content: "\e604";
}
.icon-numbered-list:before {
	content: "\e605";
}

/* title element */
.cbp-ig-grid .cbp-ig-title {
	margin: 20px 0 10px 0;
	padding: 20px 0 0 0;
	font-size: 2em;
	position: relative;
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.cbp-ig-grid .cbp-ig-title:before {
	content: '';
	position: absolute;
	background: #47a3da;
	width: 160px;
	height: 6px;
	top: 0px;
	left: 50%;
	margin: -10px 0 0 -80px;
	-webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
	-moz-transition: margin-top 0.2s;
	transition: margin-top 0.2s;
}

.cbp-ig-grid .cbp-ig-category {
	text-transform: uppercase;
	display: inline-block;
	font-size: 1em;
	letter-spacing: 1px;
	color: #fff;
	-webkit-transform: translateY(10px);
	-moz-transform: -moz-translateY(10px);
	-ms-transform: -ms-translateY(10px);
	transform: translateY(10px);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	-webkit-transition: transform 0.3s, opacity 0.2s;
}

.cbp-ig-grid li:hover .cbp-ig-category,
.touch .cbp-ig-grid li .cbp-ig-category {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

/* Hover styles */

.cbp-ig-grid li > a:hover {
	background: #47a3da;
}

.cbp-ig-grid li > a:hover .cbp-ig-icon {
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
}

.cbp-ig-grid li > a:hover .cbp-ig-icon:before,
.cbp-ig-grid li > a:hover .cbp-ig-title {
	color: #fff;
}

.cbp-ig-grid li > a:hover .cbp-ig-title {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}

.cbp-ig-grid li > a:hover .cbp-ig-title:before {
	background: #fff;
	margin-top: 80px;
}


@media screen and (max-width: 62.75em) {
	.cbp-ig-grid li{
		width: 50%;
	}
        /*reset gridlines*/
        .quantity3 li:nth-child(n+2), 
        .quantity5 li:nth-child(n+2){
            border-top: 1px solid #ddd;
        }

	.cbp-ig-grid li:nth-child(even){
		box-shadow: none;
	}

	.cbp-ig-grid li:nth-child(-n+2){
		border-top: none;
	}

	.cbp-ig-grid li:nth-child(2n-1){
		box-shadow: 1px 0 0 #ddd;
	}
}

@media screen and (max-width: 41.6em) { 
        .quantity3 li,
        .quantity5 li{
            width: 100%;
	}

	.quantity3 li:nth-child(-n+2),
        .quantity5 li:nth-child(-n+2){
		border-top: 1px solid #ddd;
	}

	.quantity3 li:nth-child(2n-1),
        .quantity5 li:nth-child(2n-1){
		box-shadow: none
	}

	.quantity3 li:first-child,
        .quantity5 li:first-child{
		border-top: none;
	}
}

@media screen and (max-width: 25em) { 
	.quantity3 li,
        .quantity5 li{
		font-size: 80%;
	}

	.cbp-ig-grid .cbp-ig-category {
		margin-top: 20px;
	}
}