/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/02/2015, 12:10:22 PM
    Author     : Arturo
*/
@font-face {
  font-family: "univdelete";
  src:url("../../fonts/brigadeForm/univdelete.eot");
  src:url("../../fonts/brigadeForm/univdelete.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/brigadeForm/univdelete.woff") format("woff"),
    url("../../fonts/brigadeForm/univdelete.ttf") format("truetype"),
    url("../../fonts/brigadeForm/univdelete.svg#univdelete") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "univdelete" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "univdelete" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-univdelete:before {
  content: "a";
}


.bgdeLabel {
    clear: both;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: 600;
    height: 25px;
    width: 40%;
}

.bgdeField {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    height: 25px;
    width: 55%;
}

.bgdeSelect {
    width: 56%;
}
    
#selectedUnivList{
    width: 47%;
}

.error {
    
}

#selectedUnivList{
    height: auto;
}

#selectedUnivList{
    color: black;
}

.visible{
    display: block;
}

.hidden{
    display: none;
}

.univDelete {
    float: right;
    cursor: pointer;
}

@media screen and (min-width: 1921px){
    .bgdeLabel{
        
    }    
    
    .bgdeField {
        
    }
    
    
}

@media screen and (max-width: 1920px){
    .bgdeSelect {
        width: 55.5%;
    }

}

@media screen and (max-width: 1366px){
    .bgdeSelect {
        width: 55.55%;
    }
}

@media screen and (max-width: 1280px){
    .bgdeSelect {
        width: 56%;
    }
}

@media screen and (max-width: 1024px){
    .bgdeLabel{
        width: 200px;
    }    
    
    .bgdeField {
        width: 275px;
    }
    
    .bgdeSelect {
        width: 280px;
    }
    
    #selectedUnivList{
        width: 235px;
    }
}