/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/02/2015, 12:10:22 PM
    Author     : Arturo
*/
.bgdeLabel {
    clear: both;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: 600;
    height: 25px;
    width: 40%;
}

.bgdeField {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    height: 25px;
    width: 55%;
}

.bgdeSelect {
    width: 56%;
}
    
#selectedUnivList{
    width: 47%;
}

.error {
    
}

#selectedUnivList{
    height: auto;
}

#selectedUnivList{
    color: black;
}

.visible{
    display: block;
}

.hidden{
    display: none;
}

@media screen and (min-width: 1921px){
    .bgdeLabel{
        
    }    
    
    .bgdeField {
        
    }
    
    
}

@media screen and (max-width: 1920px) and (min-width: 1367px){

}

@media screen and (max-width: 1366px){
    
}

@media screen and (max-width: 1280px){
    
}

@media screen and (max-width: 1024px){
    .bgdeLabel{
        width: 200px;
    }    
    
    .bgdeField {
        width: 275px;
    }
    
    .bgdeSelect {
        width: 280px;
    }
    
    #selectedUnivList{
        width: 235px;
    }
}